{% extends "SpotiQueue/base.html" %}
{% block landing %}
    <h2 class="text-center">Welcome to SpotiQueue</h2>
    <div class="xop-section">
        <ul class="xop-grid">
            <li>
                <div class="xop-box xop-img-1">
                    <div class="xop-info">
                        <h3>Discover</h3>
                        <p>Discover popular tracks based on whats trending</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-2">
                    <div class="xop-info">
                        <h3>Create</h3>
                        <p>Create custom playlists with friends and family</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-3">
                    <div class="xop-info">
                        <h3>Share</h3>
                        <p>Share created playlists with anyone</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="xop-box xop-img-4">
                    <div class="xop-info">
                        <h3>Enjoy</h3>
                        <p>Enjoy your playlists by exporting them to your spotify account</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock landing %}